<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candidate Test</title>
    <link rel="stylesheet" type="text/css" href="styles.css"/>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js" type="text/javascript"></script>
</head>

<body>
<div id="app">
    <div class="content">
        <h2>What do you want to do for a sport activity today?</h2>

        <div id="sport-selection" class="radio-content">
            <!-- Radio buttons for sport selection -->
            <label>
                <input type="radio" id="radio-football" v-model="selectedSport" name="sport" value="football"> Football
            </label>
            <label>
                <input type="radio" id="radio-volleyball" v-model="selectedSport" name="sport" value="volleyball">
                Volleyball
            </label>
            <label>
                <input type="radio" id="radio-badminton" v-model="selectedSport" name="sport" value="badminton">
                Badminton
            </label>
        </div>

        <div class="main-border" :style="{backgroundColor:selectedSportBgColor, transition:selectedTransitions}">
            <div class="sport-bos-top">
                <!-- Selected footbal -->
                <div id="selected-sport-football" class="sport-box">
                    <p id="selected-sport-football-text">Football</p>
                </div>

                <!-- Selected volleybal -->
                <div id="selected-sport-volleyball" class="sport-box">
                    <p id="selected-sport-volleyball-text">Volley Ball</p>
                </div>
            </div>

            <div class="sport-box-me">
                <!-- Selected me -->
                <div id="selected-sport-me" class="sport-box bg-color-black" :style="{transform:changePositionMe}">
                    <p id="selected-sport-me-text">Me</p>
                </div>
            </div>

            <div class="sport-box-badminton">
                <!-- Selected badminton -->
                <div id="selected-sport-badminton" class="sport-box">
                    <p id="selected-sport-badminton-text">Badminton</p>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="footer-note">
            <div style="">
                Selected sport: {{ selectedSport }}
            </div>

            <div>
                Equipments:
                <ul>
                    <li v-for="(item, index) in selectedSportEquipments" :key="index">
                        {{ item }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="app.js"></script>

</body>

</html>