.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-border {
    border: 1px solid black;
    width: 30vw;
    transition-property: background-color;
}

.radio-content {
    margin-bottom: 30px;
}

.sport-box {
    width: 100px;
    margin: 20px;
    display: inline-block;
    text-align: center;
    padding: 10px;
    border: 1px solid #000;
    transition: all 0.5s ease;
}

.bg-color-black {
    background-color: black;
    border: 1px solid white;
    color: white;
}

.sport-bos-top {
    display: flex;
    justify-content: space-between
}

.sport-box-me {
    display: flex;
    justify-content: center
}

.sport-box-badminton {
    display: flex;
    justify-content: center
}

.footer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.footer-note {
    width: 30vw;
}